! Meta modifier for keybindings 
URxvt.modifier: super

!! perl extensions
URxvt.perl-ext:		default,url-select,clipboard

! url-select (part of urxvt-perls package)
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.url-select.autocopy:  true
URxvt.url-select.button:    2
URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true

! Copy and paste
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Shift-Control-C: perl:clipboard:copy

! disable the stupid ctrl+shift 'feature'
URxvt.iso14755:         false
URxvt.iso14755_52:      false

!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                96
Xft.antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.hintstyle:          hintslight

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

URxvt.depth:            32
URxvt.geometry:         90x30
URxvt.transparent:      true
URxvt.fading:           0
URxvt*.shading: 	10
URxvt.urgentOnBell:     true
URxvt.visualBell:       true
URxvt.loginShell:       true
URxvt*saveLines:  	2000
URxvt.internalBorder:   3
URxvt.lineSpace:        0

URxvt*depth:            24
URxvt*borderless: 	1
URxvt*scrollBar:        false


! Fonts
! URxvt*font: xft:Terminus:pixelsize=12,xft:Terminess\ Powerline:pixelsize=12
URxvt.font:             xft:Source Code Pro for Powerline-12:hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-12:medium;antialias=False,xft:WenQuanYi Zen Hei-12:medium;antialias=True,xft:HanaMinA-12:medium;antialias:True,xft:HanaMinB-12:medium;antialias:True,xft:HanaMinPlus-12:medium;antialias:True
URxvt.boldFont:         xft:Source Code Pro for Powerline-12:bold;hinting=True;antialias:True,xft:WenQuanYi Bitmap Song-12:bold;antialias=False,xft:WenQuanYi Zen Hei-12:bold;antialias=True,xft:HanaMinA-12:bold;antialias:True,xft:HanaMinB-12:bold;antialias:True,xft:HanaMinPlus-12:bold;antialias:True

URxvt.allow_bold:       true
URxvt.letterSpace:	0

! Perl extensions
URxvt.perl-ext-common:  default,matcher
URxvt.matcher.button:   1
URxvt.url-Launcher:     chromium

! Cursor
URxvt.cursorBlink:      false
URxvt.cursorColor:      #657b83
URxvt.cursorUnderline:  false

! Pointer
URxvt.pointerBlank:     true

!!Source http://github.com/altercation/solarized

*background: #002b36
! *foreground: #657b83
*foreground: #839496
!!*fading: 40
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3