*background: #1b1918

! Meta modifier for keybindings 
URxvt.modifier: super

!! perl extensions
URxvt.perl-ext:		default
URxvt.perl-ext-common:  default,matcher
URxvt.matcher.button:   1

! url-select (part of urxvt-perls package)
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.url-select.autocopy:  true
URxvt.url-Launcher:         firefox
URxvt.url-select.button:    2
URxvt.url-select.underline: true

Xft.dpi:                96
Xft.antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.hintstyle:          hintslight

URxvt.geometry:         90x30
URxvt*fading:           -1
URxvt.urgentOnBell:     true
URxvt.visualBell:       true
URxvt.loginShell:       true
URxvt*saveLines:  	2000
URxvt.internalBorder:   3
URxvt.lineSpace:        0

URxvt*borderless: 	1
URxvt*scrollBar:        false

URxvt*depth:            32
!URxvt*background:	
URxvt*transparent:      true
URxvt*shading: 		30

URxvt*font:             xft:Source Code Pro:hinting=True:antialias=True:pixelsize=16,xft:Font Awesome:size=16;antialias=True
URxvt.allow_bold:       true
URxvt.letterSpace:	0

! Cursor
URxvt.cursorBlink:      false
URxvt.cursorUnderline:  false

! Pointer
URxvt.pointerBlank:     true
