#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Emacsclient
GenericName=Text Editor
Comment=GNU Emacs Client
Exec=/usr/bin/emacsclient -c %U
Icon=emacs
Type=Application
Terminal=false
StartupWMClass=Emacs
MimeType=application/pdf;
