[Desktop Entry]
Name=Emacs
GenericName=Text Editor
Comment=GNU Emacs Client
Exec=/usr/bin/emacsclient -c %F
Icon=emacs
Type=Application
Terminal=false
StartupWMClass=Emacs