/* 
To fix the black borders around nautilus windows. based on 
https://wiki.archlinux.org/index.php/GTK%2B#Client-side_decorations
*/

.window-frame, .window-frame:backdrop {
  box-shadow: none;
  border-style: none;
  margin: 0;
  border-radius: 0;
}


.titlebar {
  border-radius: 0;
}


.window-frame.csd.popup {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13);
}

.header-bar {
  background-image: none;
  background-color: #ededed;
  box-shadow: none;
}

GtkLabel.title {
  opacity: 0;
}
