[Unit]
Description=Google Calendar to org-mode (org-gcal) through the Emacs daemon
After=emacs.service
Requisite=emacs.service

[Service]
Type=oneshot
ExecStart=/home/japhir/bin/orggcalsync
